<!DOCTYPE html>
<html>
<head>
    <title>Jogo da Velha</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="container">
    <fieldset>
        <legend>JOGO DA VÉIA</legend>
        <form action="/game/init" method="post">
            <div class="input-group">
                <label class="input-group__label" for="jogador1">Jogador 1</label>
                <input class="input-group__input" type="text" id="jogador1" name="jogador1" value="Jogador 1"/>
            </div>
            <div class="input-group">
                <label class="input-group__label" for="jogador2">Jogador 2</label>
                <input class="input-group__input" type="text" id="jogador2" value="Jogador 2" name="jogador2"/>
            </div>
            <button type="submit" class="btn">Jogar</button>
        </form>
    </fieldset>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
