<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Jogo da Veia</title>
</head>
<body class="container">
    <h1>JOGO DA VEIA</h1>
    <h2 class="jogador"></h2>

    <div id="game">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td id="cell0" name="cell" class="enabled" onclick="setOnCeil(this, 0);">&nbsp;</td>
                <td id="cell1" name="cell" class="enabled" onclick="setOnCeil(this, 1);">&nbsp;</td>
                <td id="cell2" name="cell" class="enabled" onclick="setOnCeil(this, 2);">&nbsp;</td>
            </tr>
            <tr>
                <td id="cell3" name="cell" class="enabled" onclick="setOnCeil(this, 3);">&nbsp;</td>
                <td id="cell4" name="cell" class="enabled" onclick="setOnCeil(this, 4);">&nbsp;</td>
                <td id="cell5" name="cell" class="enabled" onclick="setOnCeil(this, 5);">&nbsp;</td>
            </tr>
            <tr>
                <td id="cell6" name="cell" class="enabled" onclick="setOnCeil(this, 6);">&nbsp;</td>
                <td id="cell7" name="cell" class="enabled" onclick="setOnCeil(this, 7);">&nbsp;</td>
                <td id="cell8" name="cell" class="enabled" onclick="setOnCeil(this, 8);">&nbsp;</td>
            </tr>
        </table>
    </div>
    <div class="btns">
        <button class="btn" onclick="restart()">Voltar</button>
        <button class="btn" onclick="reset()">Resetar Jogo</button>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
